*{
	margin: 0;
	padding: 0;
}
.logo{
	text-height: 20px;
    letter-spacing: 5px;
    text-decoration: none;
    color: black;
    font-weight: 900;
 	font-size: 30px;
 	border-top: 3px solid #3a3d29;
 	margin-right: 40px;
 	margin-left: 40px;
 	position: relative;
 	padding-top: 40px;
 	font-family: 'Varela Round', sans-serif;
 	transition: color 0.5s ease-in-out 0s;
 }
 ul{
 	list-style-type: none;
 	margin-top: 0px;
 	margin-right: 40px;
 	margin-left: 40px;
 	position: relative;
 	top: 50px;

 }
 ul li {
 	display: inline-block;
 	margin: 2px 10px ;
 	

 }
 ul li a{
 	font-weight: 900;
 	font-size: 20px;
 	text-decoration: none;
 	color: black;
 	
 	transition: color 0.5s ease 0s;

 }
 .cont{
 	display: flex;
 	flex-direction: row;
 	flex-wrap: nowrap;
 	justify-content: space-between;
 	width: 100vw;
 	height: 100px;
 	background: linear-gradient(to right,#606c88,#3f4c6b)
 }
 ul li a:hover{
 	
 	color: #3d293a;
 
 }
 .logo:hover{
 	color:#3d293a;
 }
 .active{
 	border-bottom: 2px solid #3d293a;
 }
 header{
 	position: fixed;
 }